<!----------login---------->
<div class="login">
    <div class="login_left"><img src="{{$static_url}}images/index.png"></div>
    <div class="login_right">
        <div class="login_right_top">
            {{include file="modules/login.html"}}
	</div>
        <div class="login_right_cer"><a href="/reg.html"><img src="{{$static_url}}images/01.gif"></a></div>
        <div class="login_right_bot"><b>云扫除能为您做什么？</b><br>云扫除是收集网上所有关于作弊百度联盟的网站，网盟推广用户可以批量提交作弊网址;云扫除还可以为您批量分析您网盟推广里面的网址效果如何，给您分析出来建议您屏蔽的网址！</div>
    </div>
</div>

<!----------main---------->
<div class="main">
    <div class="main_left">
        <div class="main_left_top"><span><a href="#">更多</a></span> <span><a href="#">举报作弊网站</a></span> <span><a href="#">分析查询</a></span>网站最新动态</div>
        <div class="main_left_new">
            {{foreach from=$domain_list item=dl}}
            <ul>
                <li class="tu"><img src="{{$dl['memberPhoto']}}"></li>
                {{if $dl['type']==1}}
                     <li class="tit"><span>奖励 {{$dl['score']}} 积分</span><a href="#{{$dl.memberId}}">{{$dl.memberName}}</a> 在 <b>{{$dl.createTime|date_format:"%Y-%m-%d %H:%M:%S"}}</b> 举报了一个网盟推广作弊网站</li>
                    <li class="dec">{{$dl.memberName}}举报的网址在云扫除共被 {{$dl.reportCount}} 用户举报过，<a href="#{{$dl.type}}/{{$dl.id}}">查看详情</a></li>
                {{else}}
                    <li class="tit"><span>奖励 {{$dl['score']}} 积分</span><a href="#{{$dl.memberId}}">{{$dl.memberName}}</a> 在 <b>{{$dl.createTime|date_format:"%Y-%m-%d %H:%M:%S"}}</b> 分析了账户里的网盟网址</li>
                    {{if $dl.isAnalyze}}
                    <li class="dec">云扫除为其分析出了 {{if $dl.star5}}{{$dl.star5}}个五星，{{/if}}{{if $dl.star4}}{{$dl.star4}}个四星，{{/if}}{{if $dl.star3}}{{$dl.star3}}个三星，{{/if}}{{if $dl.star2}}{{$dl.star2}}个二星，{{/if}}{{if $dl.star1}}{{$dl.star1}}个一星{{/if}}，<a href="#{{$dl.type}}/{{$dl.id}}">查看详情</a></li>
                    {{else}}
                    <li class="dec">管理员审核中,通过后将进入云端分析</li>
                    {{/if}}
                {{/if}}
                
            </ul>
            {{/foreach}}
        </div>
        <div class="main_left_top"><span><a href="#">更多</a></span> <span><a href="#">投稿网盟推广经</a></span>最新推荐文章</div>
        <div class="main_left_article">
            <ul>
                {{foreach from=$article_recommen item=ar}}
                <li><span>感谢 <b>{{$ar.memberName}}</b> 投稿，系统奖励其 <b>{{$ar.score}}</b> 积分</span><a href="#">{{$ar.title}}</a></li>
                {{/foreach}}
            </ul>
        </div>
    </div>
    <div class="main_right">
        <div class="main_right_top">活跃排行榜</div>
        <div class="main_right_tline"></div>
        <div class="main_right_name">
            {{include file="modules/member_top.html"}}
        </div>
        <div class="main_right_bline"></d
            <div class="main_right_top">最新注册用户</div>
            <div class="main_right_tline"></div>
            <div class="main_right_new">
                {{include file="modules/member_new.html"}}
            </div>
            <div class="main_right_bline"></div>

        </div>
    </div>

    <!----------class---------->
    <div class="class">
        <div class="class_top"><span><a href="#">全部</a> <a href="#">举报</a></span>分类浏览查阅</div>
        <div class="class_bot">
            <ul>
                <li class="tu"><img src="{{$static_url}}images/001.jpg"></li>
                <li class="tit"><a href="#">图片/艺术</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/002.gif"></li>
                <li class="tit"><a href="#">生活/居家</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/003.jpg"></li>
                <li class="tit"><a href="#">社会/财经</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/004.gif"></li>
                <li class="tit"><a href="#">健康/养生</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/005.gif"></li>
                <li class="tit"><a href="#">情感/婚姻</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/006.jpg"></li>
                <li class="tit"><a href="#">历史/文化</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/007.gif"></li>
                <li class="tit"><a href="#">影音/休闲</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/008.jpg"></li>
                <li class="tit"><a href="#">职场/社交</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/009.jpg"></li>
                <li class="tit"><a href="#">美食/烹饪</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/010.gif"></li>
                <li class="tit"><a href="#">教育/学习</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/011.jpg"></li>
                <li class="tit"><a href="#">电脑/上网</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
            <ul>
                <li class="tu"><img src="{{$static_url}}images/008.jpg"></li>
                <li class="tit"><a href="#">新手/帮助</a></li>
                <li class="dec">共计2345条网址，共 3245 人举报过 4545 次</li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    
</script>
