<div style="clear:both"></div>
<div class="zhu">
    <ul>
        <li>举报作弊网站，分析数据差的网站，尽在云扫除！<a href="/reg.html">马上注册</a></li>
    </ul>
</div>
<div class="foot">
    <div class="foot_all">
        <div class="foot_all_left">
            <ul>
                <li class="tit">新手帮助</li>
                <li class="xx"><a href="#">关于我们</a></li>
                <li class="xx"><a href="#">真相攻略</a></li>
                <li class="xx"><a href="#">礼品兑换</a></li>
                <li class="xx"><a href="#">用户须知</a></li>
            </ul>
        </div>
        <div class="foot_all_left">
            </ul>
            <li class="tit">常见问题</li>
            <li class="xx"><a href="#">常见问题</a></li>
            <li class="xx"><a href="#">意见反馈</a></li>
            <li class="xx"><a href="#">申请收录</a></li>
            <li class="xx"><a href="#">内容申诉</a></li>
            </ul>
        </div>
        <div class="foot_all_right"><img src="{{$static_url}}images/a_d1.gif"></div>
    </div>
    <div class="foot_foot">©2015 YUNSAOCHU.COM 使用云扫除前必读  |  云扫除用户协议    豫ICP证030173号</div>

</div>


</body></html>