<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head><meta charset="utf-8"><title>百度口碑</title>
    <meta name="keywords" content="百度口碑,商家评价,服务,网友真实评论,点评,商家,靠谱">
    <meta name="description" content="百度口碑是围绕商家口碑的UGC互动社区，通过网民对商家的真实评论，商家口碑事件，专业人士咨询，帮助用户决策。是体现网民对商家、网站产品或服务态度的信息平台。网民可以通过本系统平台发布对线下交易过程中所感受的服务，商家印象，自身评价，形成口碑，助力广大网民信息决策。">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{$static_url}}css/style.css" />
    {{foreach from=$css item=c}}
    <link rel="stylesheet" href="{{$static_url}}css/{{$c}}" />
    {{/foreach}}
    <script type="text/javascript" src="{{$static_url}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{$static_url}}js/jquery.ext.js"></script>
    <script type="text/javascript" src="{{$static_url}}js/global.js"></script>
    {{foreach from=$js item=j}}
    <script type="text/javascript" src="{{$static_url}}js/{{$j}}"></script>   
    {{/foreach}}
</head>
<body>