<div class="zuobi">
    <a href="/">云扫除</a> > <a href="/article/">老生常谈</a>
</div>

<div class="list">

    <div class="list_left">
        <div class="list_left_news"><h1>{{$detail.title}}</h1></div>
        <div class="list_left_name">
            感谢 <a href="#" target="_blank"><b>{{$detail.author}}</b></a> 在 {{$detail.createTime}} 投稿！奖励 <b>{{$detail.score}}</b> 积分！  <span><a href="/home/tg/" target="_blank">我要投稿</a></span>
        </div>
        <div class="list_left_body">
            {{$detail.content}}
        </div>
        <div class="list_left_dc">
            <ul>
                <li class="ding"><i class="icon-like"></i>0 <a href="#">喜欢</a></li>
                <li class="cai"><i class="icon-like"></i>0 <a href="#">差劲</a></li>
            </ul>
        </div>


        <div class="main_left_top"><span><a href="#">更多</a></span> <span><a href="#">投稿网盟推广经</a></span>最新推荐文章</div>
        <div class="main_left_article">
            {{include file="modules/article_new.html"}}
        </div>


    </div>

    <div class="list_right">

        <div class="login_right">
            <div class="login_right_top">
                {{include file="modules/login.html"}}
            </div>
            <div class="login_right_cer"><img src="{{$static_url}}images/01.gif"></div>
            <div class="login_right_bot"><b>云扫除能为您做什么？</b><br>云扫除是收集网上所有关于作弊百度联盟的网站，网盟推广用户可以批量提交作弊网址;云扫除还可以为您批量分析您网盟推广里面的网址效果如何，给您分析出来建议您屏蔽的网址！</div>
        </div>

        <div class="main_right_top">活跃排行榜</div>
        <div class="main_right_tline"></div>
        <div class="main_right_name">
            {{include file="modules/member_top.html"}}
        </div>
        <div class="main_right_bline"></div>

        <div class="main_right_top">最新注册用户</div>
        <div class="main_right_tline"></div>
        <div class="main_right_new">
            {{include file="modules/member_new.html"}}
        </div>
        <div class="main_right_bline"></div>


    </div>
</div>